<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="SauceDemo Suite">
    <listeners>
        <listener class-name="utilities.MyListeners"/>
    </listeners>

    <test name="Positive Tests">
        <classes>
            <class name="Test.LoginTest"/>
            <class name="Test.CheckOutTest"/>
        </classes>
    </test>

    <test name="Negative Tests">
        <classes>
            <class name="Test.LoginNegativeTest"/>
            <class name="Test.ProductAddToCartNegativeTest"/>
            <class name="Test.CheckOutNegativeTest"/>
        </classes>
    </test>
</suite>